<div class="chat">
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> SimpleChat
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>

        <main class="msger-chat">
            <div *ngFor="let message of messages" class="msg" [ngClass]="message.side + '-msg'">
                <div class="msg-img" [ngStyle]="{ 'background-image': 'url(' + message.img + ')' }"></div>
                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">{{ message.name }}</div>
                        <div class="msg-info-time">{{ message.time }}</div>
                    </div>
                    <div class="msg-text">{{ message.text }}</div>
                </div>
            </div>
        </main>

        <form class="msger-inputarea" (submit)="onSubmit($event)">
            <input type="text" class="msger-input" placeholder="Enter your message..." [(ngModel)]="userMessage"
                name="message" />
            <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>
</div>