.button {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  .counter-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .counter-line span {
    margin-right: 15px;
    font-size: 18px;
  }
  
  .btn {
    margin-right: 10px;
  }
  