<!-- src/app/right-panel/right-panel.component.html -->
<div class="right-panel" *ngIf="weatherData">
    <h2>{{ weatherData.cityName }}</h2>
    <img [src]="weatherData.icon" alt="Weather Icon" />
    <p>{{ weatherData.temp }}°C</p>
    <p>{{ weatherData.description }}</p>
    <p>Wind: {{ weatherData.wind }}m/s</p>
    <p>Pressure: {{ weatherData.pressure }}</p>
  
    <div class="forecast">
      <div *ngFor="let forecast of weatherData.forecast; let i = index">
        <p>{{ getForecastDays()[i] }}</p>
        <img [src]="forecast.icon" alt="Forecast Icon" />
        <p>{{ forecast.temp }}°C</p>
      </div>
    </div>
  </div>
  